<div class="container">
  <%= form_for resource, as: resource_name, 
                         url: registration_path(resource_name),
                         class: "form-group" do |f| %>
    <%= devise_error_messages! %>

    <h2>Registration</h2><%= tag 'br' %>

    <div class="form-inline">
      <div class="form-group">
        <%= f.label :username, 'Username', class: 'control-label' %>
        <%= tag 'br' %>
        <%= f.text_field :username, autofocus: true, class: 'form-control', 
                                    placeholder: 'Username' %>
        <%= tag 'br' %><%= tag 'br' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email', class: 'control-label' %><%= tag 'br' %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        <%= tag 'br' %><%= tag 'br' %>
      </div>
    </div>

    <div class="form-inline">

      <div class="form-group">
        <%= f.label :password, 'Password', class: 'control-label' %>
        <em>( > 6 characters )</em><%= tag 'br' %>
        <%= f.password_field :password, placeholder: 'Password', 
            class: 'form-control', autocomplete: 'off' %>
        <%= tag 'br' %><%= tag 'br' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Password Confirmation', 
                    class: 'control-label' %><%= tag 'br' %>
        <%= f.password_field :password, placeholder: 'Re-enter password', 
                             class: 'form-control', autocomplete: 'off' %>
        <%= tag 'br' %><%= tag 'br' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.button 'Submit', class: 'btn btn-lg btn-primary' %> or 

      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default',
                  role: 'button' %> if you already have an account.
    </div>
  <% end %>
</div>