<div class="container">

<% title 'Contact Me' %>

<h1 class="page-title">Send Me A Message!</h1>

<div class="row"><div class="col-sm-6">

<%= content_tag :p, 'Use this form to send me an e-mail!' %>

<%= form_tag email_path, method: 'post', 
                                      html: { role: 'form' } do %>
<div class="form-group">
  <%= label_tag :name, 'Your name' %>
  <div class="row"><div class="col-xs-12">
    <%= text_field_tag :name, @name, placeholder: 'Enter your name...', 
                                     autofocus: true, class: 'form-control' %>
  </div></div>
</div>

<div class="form-group">
  <%= label_tag :email, 'Your email' %>
  <div class="row"><div class="col-xs-12">
    <%= text_field_tag :email, @email, placeholder: 'Enter your email...',
                                       class: 'form-control' %>
  </div></div>
</div>

<div class="form-group">
  <%= label_tag :message, 'Your message' %>
  <div class="row"><div class="col-xs-12">
  <%= text_area_tag :message, @message, placeholder: 'Enter your message...', 
                                        rows: 10, class: 'form-control' %>
  </div></div>
</div>

<div class="row"><div class="col-xs-12 padded">
  <button class="btn btn-primary">
    <span class="glyphicon glyphicon-envelope"></span> Send
  </button>
</div></div><%= tag 'br' %>

<% end %>

<%= content_tag :p, 'Chris Bon' %>
<%= content_tag :p, 'chrisbon315@gmail.com' %>
<p>Heroku:  <%= link_to 'circlejam.heroku.com' %></p>
<p>Github:  <%= link_to 'github.com/chris-bon/jam3' %></p>
<p>LinkedIn:  <%= link_to 'linked-in.com/in/bonchris' %></p>
</div></div></div>