<!DOCTYPE html><html lang="en"><body><%= tag 'br' %><%= tag 'br' %>

<header>
  <%= content_tag :h1, 'JamCircle' %>
  <%= content_tag :p,
    'Musician finding web app for jam seekers and music lovers.' %>
  <%= tag 'br' %>
  <%= link_to 'Go to Apps', '#apps', 
              class: 'btn btn-primary btn-xl page-scroll' %>
</header>

<section class="no-padding" id="apps"><div class="container-fluid">

<div class="row">
  <div class="col-lg-12"><%= tag 'hr' %></div>
  <%= content_tag :div, class: 'col-lg-4 col-sm-4 text-center' do %>
    <%= content_tag :h4, 'Musician Seeker' %>
    <%= content_tag :p, 'Find a musician with similar interests to jam with or 
      search for someone who plays a specific instrument or style to join your 
      band or group.', class: 'text-muted' %>
  <% end %>

  <%= content_tag :div, class: 'col-lg-4 col-sm-4 text-center' do %>
    <%= content_tag :h4, 'Drum Circles' %>
    <%= content_tag :p, class: 'text-muted' do %>
      <%= content_tag :em, '(Under construction!)' %><%= tag 'br' %>
      Find drum circles in your area! Put up your own drum circle listings!
      These jam sessions are open to anyone who enjoys music!
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'col-lg-4 col-sm-4 text-center' do %>
    <%= content_tag :h4, 'Forum' %>
    <%= content_tag :p, class: 'text-muted' do %>
      <%= content_tag :em, '(Under construction!)' %><%= tag 'br' %>
      Share your experiences or just say hello! Everyone is welcome here!
    <% end %>
  <% end %>
</div>

<div class="row no-gutter">
  <div class="col-lg-4 col-sm-4">
    <%= link_to '/musician_seeker', class: 'app-box' do %>
      <%= image_tag 'strum.jpg', class: 'img-responsive' %>
      <div class="app-box-caption"><div class="app-box-caption-content">
        <div class="app-name">Musician Seeker</div>
      </div></div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-4">
    <%= link_to '/profiles_test', class: 'app-box' do %>
      <%= image_tag 'drumfire.jpg', class: 'img-responsive' %>
      <div class="app-box-caption"><div class="app-box-caption-content">
        <div class="app-name">Drum Circles</div>
      </div></div>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-4">
    <%= link_to '/profiles_test', class: 'app-box' do %>
      <%= image_tag 'hole.jpg', class: 'img-responsive' %>
      <div class="app-box-caption"><div class="app-box-caption-content">
        <div class="app-name">Forum</div>
      </div></div>
    <% end %>
  </div>
</div>
</section></div></body></html>