<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' 
      rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' 
      rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" 
      type="text/css">

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<ul class="nav navbar-nav">
  <li class=<%= "active" if current_page? root_path %>>
    <%= link_to "JamCircle", root_path, class: "navbar-brand" %></li>
  <li>
    <%= image_tag "note-circle.gif", height: "52" %></li>
  <li class=<%= 'active' if current_page? profiles_path %>>
    <%= link_to "Musician Seeker", profiles_path %></li>
  <li class=<%= 'active' if current_page? '/profiles_test' %>>
    <%= link_to "Jam Seeker", "/profiles_test" %></li>
  <li class=<%= 'active' if current_page? '/profiles_test' %>>
    <%= link_to "Drum Circles", "/profiles_test" %></li>
</ul>

<!-- User Registration/Login/Logout -->
<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li class="dropdown">
      <%= link_to root_path, class: "dropdown-toggle", role: "button",
                  data: { toggle: "dropdown" },
                  aria: { haspopup: true, expanded: false } do %>
        <%= current_user.username %> <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", "/profiles/#{current_user.id}" %></li>
        <li><%= link_to "Settings", "/settings" %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, 
                        method: "delete" %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Sign In",  new_user_session_path %></li>
    <li><%= link_to "Register", new_user_registration_path %></li>
  <% end %>
</ul> 
</div>
</nav>