<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid" style="padding-left:0px;">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="navbar-inner">  
<ul class="nav navbar-nav" ng-controller="navbarCtrl">

<li style="padding-right:15px;">
  <%= image_tag 'cloudjc.gif', height: 52 %>
</li>

<li><span width=5></span></li>

<li class="dropdown">
  <li class="<%= 'active' if current_page? root_path %>">
    <%= link_to '#', class: ['navbar-brand', 'dropdown-toggle'],
                      role: 'button', data: { toggle: 'dropdown' },
                      aria: { haspopup: true, expanded: false } do %>
      JamCircle <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to 'Homepage', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact Me', contact_path %></li>
    </ul>
  </li>
</li>
<li>
  <img ng-src="/assets/{{image_url}}" ng-click="toggleImage()" height=52 />
</li>
<li class="<%= 'active' if current_page? profiles_path %>">
  <%= link_to 'Musician Seeker', profiles_path %>
</li>
<li class="<%= 'active' if current_page? '/drum_circles' %>">
  <%= link_to 'Drum Circles', '/drum_circles' %>
</li>
<li class="<%= 'active' if current_page? '/forum' %>">
  <%= link_to 'Forum', '/forum' %>
</li>
</ul>
<!-- User Registration/Login/Logout -->
<ul class="nav navbar-nav navbar-right">

<% if user_signed_in? %>
  <li class="dropdown">
    <%= link_to root_path, role: 'button', class: 'dropdown-toggle',
                           aria: { haspopup: true, expanded: false },
                           data: { toggle: 'dropdown' } do %>
      <%= current_user.username %> <span class="caret"></span><% end %>

    <ul class="dropdown-menu">
      <li>
        <%= link_to 'Profile', "/profiles/#{current_user.profile.id}/edit" %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="<%= 'active' if current_page? new_user_session_path %>">
    <%= link_to 'Login',  new_user_session_path %>
  </li>
  <li class="<%= 'active' if current_page? new_user_registration_path %>">
    <%= link_to 'Sign Up', new_user_registration_path %>
  </li>
<% end %>
</ul></div>
</div></div>
</div></nav>