<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, 
                                 maximum-scale=1.0,  user-scalable=no">
  <title>PhiloSonic JamCircle</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'jcicon.jpeg', rel: 'jcicon', type: 'image/jpeg' %>
  
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>  
</head>

<body>
  <%= render 'layouts/navbar' %>

  <div class="container" ng-view>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <%= render 'layouts/alert_messages' %>
      </div>
    </div>
    <div class="row"><div class="col-sm-12"><%= yield %></div></div>
  </div>
</body>
</html>